# ETL_Project
Renewable Energy Sources by Country
Below is the ETL Guidelines given to us

# Guidelines for ETL Project

This document contains guidelines, requirements, and suggestions for Project 1.

## Team Effort

Due to the short timeline, teamwork will be crucial to the success of this project! Work closely with your team through all phases of the project to ensure that there are no surprises at the end of the week.

Working in a group enables you to tackle more difficult problems than you'd be able to working alone. In other words, working in a group allows you to **work smart** and **dream big**. Take advantage of it!

## Project Proposal

Before you start writing any code, remember that you only have one week to complete this project. View this project as a typical assignment from work. Imagine a bunch of data came in and you and your team are tasked with migrating it to a production data base.

Take advantage of your Instructor and TA support during office hours and class project work time. They are a valuable resource and can help you stay on track.

## Finding Data

Your project must use 2 or more sources of data. We recommend the following sites to use as sources of data:

* [data.world](https://data.world/)

* [Kaggle](https://www.kaggle.com/)

You can also use APIs or data scraped from the web. However, get approval from your instructor first. Again, there is only a week to complete this!

## Data Cleanup & Analysis

Once you have identified your datasets, perform ETL on the data. Make sure to plan and document the following:

* The sources of data that you will extract from.

* The type of transformation needed for this data (cleaning, joining, filtering, aggregating, etc).

* The type of final production database to load the data into (relational or non-relational).

* The final tables or collections that will be used in the production database.

You will be required to submit a final technical report with the above information and steps required to reproduce your ETL process.

## Project Report

At the end of the week, your team will submit a Final Report that describes the following:

* **E**xtract: your original data sources and how the data was formatted (CSV, JSON, pgAdmin 4, etc).

* **T**ransform: what data cleaning or transformation was required.

* **L**oad: the final database, tables/collections, and why this was chosen.

Please upload the report to Github and submit a link to Bootcampspot.

- - -

### Copyright

Coding Boot Camp © 2019. All Rights Reserved.

In [1]:
# Dependencies
import pandas as pd
import random
import json
import requests
import matplotlib
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
import html5lib

In [5]:
# Store filepath in a variable
renew = "modern-renewable-energy-consumption 2.csv"

In [6]:
renew_df = pd.read_csv(renew)

In [7]:
renew_df.columns

Index(['Entity', 'Code', 'Year', 'Hydropower (terawatt-hours)',
       'Solar (terawatt-hours)', 'Wind (terawatt-hours)',
       'Other renewables (terawatt-hours)'],
      dtype='object')

In [10]:
# Extract desired columns, or drop undesired columns
# new_renew_df = renew_df.loc[:, ["Entity", "Year", "Hydropower (terawatt-hours)",
# "Solar (terawatt-hours)", "Wind (terawatt-hours)", "Wind (terawatt-hours)", 'Other renewables (terawatt-hours)']

# new_renew_df     
energy_df = renew_df.drop("Code", axis=1)
energy_df

,Entity,Year,Hydropower (terawatt-hours),Solar (terawatt-hours),Wind (terawatt-hours),Other renewables (terawatt-hours)
0,Africa,1965,14.278806,0.000000,0.000000,0.000000
1,Africa,1966,15.649049,0.000000,0.000000,0.000000
2,Africa,1967,16.158333,0.000000,0.000000,0.000000
3,Africa,1968,18.622983,0.000000,0.000000,0.000000
4,Africa,1969,21.582897,0.000000,0.000000,0.000000
...,...,...,...,...,...,...
5086,World,2014,3883.143443,197.910508,712.031697,502.158919
5087,World,2015,3884.417357,260.739219,831.384507,536.466244
5088,World,2016,4017.743773,328.378114,956.873542,556.623356
5089,World,2017,4065.443127,453.517657,1127.989587,584.975827
5090,World,2018,4193.104151,584.630918,1269.953375,625.805362

In [12]:
energy_df = energy_df.loc[(
    energy_df["Year"] > 1999)]
energy_df

,Entity,Year,Hydropower (terawatt-hours),Solar (terawatt-hours),Wind (terawatt-hours),Other renewables (terawatt-hours)
35,Africa,2000,75.245817,0.018400,0.176000,2.224423
36,Africa,2001,80.864115,0.024700,0.416080,2.291353
37,Africa,2002,85.181468,0.030801,0.444564,2.240400
38,Africa,2003,82.872601,0.033901,0.541187,2.577400
39,Africa,2004,87.405469,0.039101,0.769318,2.939014
...,...,...,...,...,...,...
5086,World,2014,3883.143443,197.910508,712.031697,502.158919
5087,World,2015,3884.417357,260.739219,831.384507,536.466244
5088,World,2016,4017.743773,328.378114,956.873542,556.623356
5089,World,2017,4065.443127,453.517657,1127.989587,584.975827
5090,World,2018,4193.104151,584.630918,1269.953375,625.805362

In [13]:
energy_df.shape

(1881, 6)

In [30]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_renewable_electricity_production'

In [34]:
energy_df = pd.read_html(url)
energy_df

[    Country or territory  Year Total (GWh) Total RE (GWh) RE % of total  \
     Country or territory  Year Total (GWh) Total RE (GWh) RE % of total
 0            Afghanistan  2016         NaN         1071.0           NaN
 1                Albania  2016      7782.0         7784.0          100%
 2                Algeria  2016     70997.0          430.5          0.6%
 3                 Angola  2016     10361.0         7282.0         70.3%
 4               Anguilla  2016         NaN            2.4           NaN
 ..                   ...   ...         ...            ...           ...
 209            Venezuela  2016    112577.0        76099.0         67.6%
 210              Vietnam  2016    164832.0        63654.0         38.6%
 211                Yemen  2016      5045.0          549.0         10.9%
 212               Zambia  2016     11695.0        11108.0         95.0%
 213             Zimbabwe  2016      7055.0         3658.0         51.9%

     Hydropower                    Wind power             ...  \
            GWh % of total % of RE        GWh % of total  ...
 0       1035.0        NaN   96.7%        0.1        NaN  ...
 1       7782.0     100.0%  100.0%        NaN       0.0%  ...
 2         72.0       0.1%   16.7%       19.4       0.0%  ...
 3       7109.0      68.6%   97.6%        NaN       0.0%  ...
 4          NaN        NaN    0.0%        NaN        NaN  ...
 ..         ...        ...     ...        ...        ...  ...
 209    76003.5      67.5%   99.9%       88.3       0.1%  ...
 210    63105.0      38.3%   99.1%      209.8       0.1%  ...
 211        NaN       0.0%    0.0%        NaN       0.0%  ...
 212    11027.0      94.3%   99.3%        NaN       0.0%  ...
 213     3551.0      50.3%   97.1%        NaN       0.0%  ...

     Biomass and waste                    Solar power                     \
                   GWh % of total % of RE         GWh % of total % of RE
 0                 NaN        NaN    0.0%        35.5        NaN    3.3%
 1                 NaN       0.0%    0.0%         1.9       0.0%    0.0%
 2                 NaN       0.0%    0.0%       339.1       0.5%   78.8%
 3               155.0       1.5%    2.1%        18.3       0.2%    0.3%
 4                 NaN        NaN    0.0%         2.4        NaN  100.0%
 ..                ...        ...     ...         ...        ...     ...
 209               NaN       0.0%    0.0%         6.9       0.0%    0.0%
 210             332.0       0.2%    0.5%         7.0       0.0%    0.0%
 211               NaN       0.0%    0.0%       549.0      10.9%  100.0%
 212              76.0       0.6%    0.7%         5.2       0.0%    0.0%
 213              95.3       1.4%    2.6%        12.2       0.2%    0.3%

     Geothermal                          Ref
            GWh % of total % of RE       Ref
 0          NaN        NaN     NaN       [6]
 1          NaN        NaN     NaN    [6][7]
 2          NaN        NaN     NaN    [6][8]
 3          NaN        NaN     NaN    [6][9]
 4          NaN        NaN     NaN       [6]
 ..         ...        ...     ...       ...
 209        NaN        NaN     NaN  [6][146]
 210        NaN        NaN     NaN  [6][147]
 211        NaN        NaN     NaN  [6][148]
 212        NaN        NaN     NaN  [6][149]
 213        NaN        NaN     NaN  [6][150]

 [214 rows x 21 columns]]

In [36]:
energy_df

[    Country or territory  Year Total (GWh) Total RE (GWh) RE % of total  \
     Country or territory  Year Total (GWh) Total RE (GWh) RE % of total
 0            Afghanistan  2016         NaN         1071.0           NaN
 1                Albania  2016      7782.0         7784.0          100%
 2                Algeria  2016     70997.0          430.5          0.6%
 3                 Angola  2016     10361.0         7282.0         70.3%
 4               Anguilla  2016         NaN            2.4           NaN
 ..                   ...   ...         ...            ...           ...
 209            Venezuela  2016    112577.0        76099.0         67.6%
 210              Vietnam  2016    164832.0        63654.0         38.6%
 211                Yemen  2016      5045.0          549.0         10.9%
 212               Zambia  2016     11695.0        11108.0         95.0%
 213             Zimbabwe  2016      7055.0         3658.0         51.9%

     Hydropower                    Wind power             ...  \
            GWh % of total % of RE        GWh % of total  ...
 0       1035.0        NaN   96.7%        0.1        NaN  ...
 1       7782.0     100.0%  100.0%        NaN       0.0%  ...
 2         72.0       0.1%   16.7%       19.4       0.0%  ...
 3       7109.0      68.6%   97.6%        NaN       0.0%  ...
 4          NaN        NaN    0.0%        NaN        NaN  ...
 ..         ...        ...     ...        ...        ...  ...
 209    76003.5      67.5%   99.9%       88.3       0.1%  ...
 210    63105.0      38.3%   99.1%      209.8       0.1%  ...
 211        NaN       0.0%    0.0%        NaN       0.0%  ...
 212    11027.0      94.3%   99.3%        NaN       0.0%  ...
 213     3551.0      50.3%   97.1%        NaN       0.0%  ...

     Biomass and waste                    Solar power                     \
                   GWh % of total % of RE         GWh % of total % of RE
 0                 NaN        NaN    0.0%        35.5        NaN    3.3%
 1                 NaN       0.0%    0.0%         1.9       0.0%    0.0%
 2                 NaN       0.0%    0.0%       339.1       0.5%   78.8%
 3               155.0       1.5%    2.1%        18.3       0.2%    0.3%
 4                 NaN        NaN    0.0%         2.4        NaN  100.0%
 ..                ...        ...     ...         ...        ...     ...
 209               NaN       0.0%    0.0%         6.9       0.0%    0.0%
 210             332.0       0.2%    0.5%         7.0       0.0%    0.0%
 211               NaN       0.0%    0.0%       549.0      10.9%  100.0%
 212              76.0       0.6%    0.7%         5.2       0.0%    0.0%
 213              95.3       1.4%    2.6%        12.2       0.2%    0.3%

     Geothermal                          Ref
            GWh % of total % of RE       Ref
 0          NaN        NaN     NaN       [6]
 1          NaN        NaN     NaN    [6][7]
 2          NaN        NaN     NaN    [6][8]
 3          NaN        NaN     NaN    [6][9]
 4          NaN        NaN     NaN       [6]
 ..         ...        ...     ...       ...
 209        NaN        NaN     NaN  [6][146]
 210        NaN        NaN     NaN  [6][147]
 211        NaN        NaN     NaN  [6][148]
 212        NaN        NaN     NaN  [6][149]
 213        NaN        NaN     NaN  [6][150]

 [214 rows x 21 columns]]